$shadow: rgba(0, 0, 0, 0.6);
$white: #ffffff;

.banner-home {
  width: 100%;
  height: 223px;
  margin: 40px 0;

  background-image: url("../assets/Image_source_1.png");
  background-size: cover;
  background-position: center;

  border-radius: 25px;
  overflow: hidden;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: $shadow;
  }

  &__title {
    position: relative;
    color: $white;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    z-index: 1;
  }
}

@media (max-width: 768px) {
  .banner-home {
    height: 160px;
    margin: 30px 0;
    padding-left: 16px;

    &__title {
      font-size: 32px;
      text-align: left;
    }
  }
}

@media (max-width: 375px) {
  .banner-home {
    height: 111px;
    margin: 20px 0;
    border-radius: 10px;
    justify-content: flex-start;
    padding-left: 16px;

    &__title {
      font-size: 24px;
      line-height: 100%;
      text-align: left;
      max-width: 220px;
    }
  }
}
