.banner-about {
  display: flex;
  justify-content: center;
  width: 100%;

  &__img {
    height: 223px;
    width: 100%;
    max-width: 1240px;
    object-fit: cover;
    border-radius: 25px;
  }
}

@media (max-width: 768px) {
  .banner-about__img {
    height: 160px;
  }
}

@media (max-width: 375px) {
  .banner-about {
    &__img {
      height: 111px;
      border-radius: 10px;
    }
  }
}
