$white: #ffffff;

body {
  background-color: $white;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  margin: 0 auto 40px;

  &__list {
    max-width: 1023px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 375px) {
  .about {
    padding: 0 10px;
    margin-bottom: 20px;

    &__list {
      max-width: 100%;
      margin-top: 20px;
      gap: 15px;
    }
  }
}
