.error {
  min-height: calc(100vh - 209px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 139px;

  h1 {
    font-family: "Montserrat", sans-serif;
    color: #ff6060;
    font-size: 288px;
    font-weight: 700;
    margin: 0;
    line-height: 1;
  }

  p {
    font-family: "Montserrat", sans-serif;
    color: #ff6060;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    margin: 0;
  }

  a {
    font-family: "Montserrat", sans-serif;
    color: #000;
    text-decoration: underline;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 150px;
  }
}
