.error {
  h1 {
    font-family: "Montserrat";
    color: #ff6060;
    font-size: 288px;
    font-weight: 700;
    margin: 0;
  }

  p {
    font-family: "Montserrat";
    color: #ff6060;
    font-size: 36px;
    font-weight: 500;
    margin: 0;
  }

  a {
    color: black;
    text-decoration: underline;
    font-size: 18px;
    font-weight: 500;

    &:hover {
      color: #000000;
    }
  }
}
