$red: #ff6060;
$grey: #f6f6f6;
$white: #ffffff;
$stargrey: #e3e3e3;

.fiche-logement {
  max-width: 1240px;
  margin: 0 auto;
  padding: 30px 20px;

  &__cover {
    width: 100%;
    height: 415px;
    object-fit: cover;
    border-radius: 25px;
    margin-bottom: 30px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 25px;
  }

  &__info h1 {
    color: $red;
    font-size: 36px;
    margin: 0;
  }

  &__location {
    font-size: 18px;
    margin: 5px 0 15px;
  }

  &__tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  &__host-rating {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
  }

  &__rating {
    display: flex;
    gap: 5px;
  }

  &__collapses {
    display: flex;
    gap: 75px;
  }

  &__host {
    display: flex;
    align-items: center;
    gap: 10px;

    p {
      color: $red;
      font-size: 18px;
      text-align: right;
      max-width: 90px;
    }

    img {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}

.tag {
  background-color: $red;
  color: $white;
  padding: 5px 20px;
  border-radius: 10px;
  font-size: 14px;
}

.star {
  color: $stargrey;
  width: 36px;
  height: 36px;
}

.star.active {
  color: $red;
}

@media (max-width: 768px) {
  .fiche-logement {
    padding: 20px;

    &__header {
      flex-direction: column;
      gap: 10px;
      margin-bottom: 20px;
    }

    &__info h1 {
      font-size: 22px;
      font-weight: 500;
    }

    &__location {
      font-size: 14px;
      margin-bottom: 10px;
    }

    &__host-rating {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    &__rating {
      gap: 3px;
    }

    &__collapses {
      flex-direction: column;
      gap: 15px;
    }

    &__host {
      gap: 8px;

      p {
        font-size: 12px;
        max-width: 60px;
      }

      img {
        width: 32px;
        height: 32px;
      }
    }
  }
}
.tag {
  font-size: 10px;
  padding: 4px 12px;
  border-radius: 5px;
}

.star {
  width: 18px;
  height: 18px;
}

@media (max-width: 375px) {
  .fiche-logement {
    padding: 15px 20px;

    &__header {
      gap: 5px;
      margin-bottom: 15px;
    }

    &__info h1 {
      font-size: 18px;
      line-height: 143%;
    }

    &__location {
      margin: 5px 0 10px;
    }

    &__tags {
      gap: 8px;
      margin-bottom: 10px;
    }

    &__collapses {
      gap: 10px;
    }
  }
}
