.gallery {
  max-width: 1240px;
  margin: 40px auto;
  padding: 40px;
  background-color: #f6f6f6;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.card {
  position: relative;
  height: 340px;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.card__title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: white;
  font-size: 18px;
  font-weight: 500;
  z-index: 1;
}
