body {
  background-color: #ffffff;
}
.lmj-img {
  height: 223px;
  width: 1240px;
  object-fit: cover;
  box-shadow: 0px 4px 4px 0px #00000040;
  border: 1px solid #000000;
  border-radius: 25px;
  border-width: 1px;
  top: 163px;
  left: 100px;
}

.lmj-home {
  width: 100%;
}

.lmj-banner {
  position: relative;
  max-width: 1240px;
  margin: 0 auto 40px;
  border-radius: 25px;
  overflow: hidden;
}

.lmj-banner-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
}
