$white: #ffffff;

body {
  background-color: $white;
}

.home {
  max-width: 1240px;
  margin: 0 auto 40px;
  padding: 0 20px;
}

@media (max-width: 375px) {
  .home {
    padding: 0 10px;
    margin-bottom: 20px;
  }
}
