body {
  background-color: #ffffff;
}

.lmj-banner {
  position: relative;
  max-width: 1240px;
  margin: 0 auto 40px;
  border-radius: 25px;
  overflow: hidden;
}

.lmj-banner-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
}
