$red: #ff6060;
$white: #ffffff;
$grey: #f6f6f6;
$black: #000;

.collapse {
  width: 100%;
  margin-bottom: 20px;

  &__header {
    background-color: $red;
    color: $white;
    font-size: 18px;
    font-weight: 500;
    border: none;
    width: 100%;
    padding: 12px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 10px;
    position: relative;
    z-index: 3;
  }

  &__arrow {
    transition: transform 0.35s ease;
  }

  &__content {
    background-color: $grey;
    max-height: 0;
    overflow: hidden;

    margin-top: -10px;
    padding-top: 0;

    border-radius: 0 0 10px 10px;

    transition: max-height 0.45s ease;
  }

  &__text {
    padding: 0 20px 15px;

    opacity: 0;
    transform: translateY(-30px);

    transition:
      transform 0.45s ease,
      opacity 0.35s ease;

    p {
      margin: 0;
      font-size: 16px;
      line-height: 1.6;
      color: $black;

      white-space: pre-line;
    }
  }
}
span {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.43;
  letter-spacing: 0;
}

.rotate {
  transform: rotate(-180deg);
}

.collapse.is-open {
  .collapse__content {
    max-height: 500px;
    padding-top: 20px;
  }

  .collapse__text {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  span {
    font-size: 18px;
  }

  .collapse {
    &__arrow {
      width: 20px;
      height: 20px;
    }
    &__text {
      p {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 375px) {
  .collapse {
    &__header {
      padding: 10px 12px;
      border-radius: 5px;
    }

    &__arrow {
      width: 16px;
      height: 16px;
    }

    &__content {
      border-radius: 0 0 5px 5px;
    }

    &__text {
      padding: 0 12px 12px;

      p {
        font-size: 12px;
        line-height: 1.5;
      }
    }
  }
  span {
    font-size: 13px;
    font-weight: 700;
  }
}
