.banner {
  width: 100%;
  height: 223px;
  margin: 40px 0;

  background-image: url("../assets/Image_source_1.png");
  background-size: cover;
  background-position: center;

  border-radius: 25px;
  overflow: hidden;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  &__title {
    position: relative;
    color: white;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    z-index: 1;
  }
}
