$white: #ffffff;

.carousel {
  position: relative;
  width: 100%;
  height: 415px;
  margin-bottom: 30px;
  border-radius: 25px;
  overflow: hidden;
}

.carousel__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: $white;
  font-size: 80px;
  padding: 0 15px;
  z-index: 2;
  user-select: none;

  &:hover {
    opacity: 0.8;
  }

  &--left {
    left: 10px;
  }

  &--right {
    right: 10px;
  }
}

.carousel__counter {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  color: $white;
  font-size: 18px;
  font-weight: 500;
}
