.collapse {
  width: 100%;
  margin-bottom: 20px;
}

.collapse__header {
  background-color: #ff6060;
  color: white;
  font-size: 18px;
  font-weight: 500;
  border: none;
  width: 100%;
  padding: 12px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 10px;
  position: relative;
  z-index: 3;
}
span {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.43;
  letter-spacing: 0;
}
.collapse__arrow {
  transition: transform 0.35s ease;
}

.rotate {
  transform: rotate(-180deg);
}

.collapse__content {
  background-color: #f6f6f6;
  max-height: 0;
  overflow: hidden;

  margin-top: -10px;
  padding-top: 0;

  border-radius: 0 0 10px 10px;

  transition: max-height 0.45s ease;
}

.collapse__text {
  padding: 0 20px 15px;

  opacity: 0;
  transform: translateY(-30px);

  transition:
    transform 0.45s ease,
    opacity 0.35s ease;

  p {
    margin: 0;
    font-size: 16px;
    line-height: 1.6;
    color: #000;
  }
}

.collapse.is-open {
  .collapse__content {
    max-height: 500px;
    padding-top: 20px;
  }

  .collapse__text {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.2s;
  }
}
