.footer {
  background-color: #000000;
  padding: 60px 0 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  &__logo {
    height: 40px;
  }

  &__text {
    color: white;
    font-size: 24px;
    font-weight: 500;
  }
}
