$white: #ffffff;
$grey: #f6f6f6;
$shadow-card: linear-gradient(
  180deg,
  rgba(255, 255, 255, 0) 0%,
  rgba(10, 10, 10, 0) 42%,
  rgba(4, 4, 4, 0.205) 99.99%,
  rgba(0, 0, 0, 0.5) 100%
);

.gallery {
  width: 100%;
  margin-bottom: 40px;
  padding: 40px;

  box-sizing: border-box;

  background-color: $grey;
  border-radius: 25px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.card {
  position: relative;
  height: 340px;
  border-radius: 10px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    color: $shadow-card;
    z-index: 0;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;

    color: $white;
    font-size: 18px;
    font-weight: 500;

    z-index: 1;
  }
}
