$black: #000;

.header {
  max-width: 1240px;
  margin: 40px auto;
  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    height: 68px;
  }
}

.nav-links {
  display: flex;
  gap: 50px;

  a {
    text-decoration: none;
    color: $black;
    font-size: 24px;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}
