$black: #000;

.header {
  max-width: 1240px;
  margin: 40px auto;
  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    height: 68px;
  }
}

.nav-links {
  display: flex;
  gap: 50px;

  a {
    text-decoration: none;
    color: $black;
    font-size: 24px;
    font-weight: 500;

    &.active {
      text-decoration-style: solid;
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 6px;
    }
  }
}

@media (max-width: 375px) {
  .header {
    margin: 20px auto;
    padding: 0 10px;
    gap: 60px;

    &__logo {
      height: 47px;
    }
  }

  .nav-links {
    gap: 20px;
    a {
      font-size: 12px;
      text-transform: uppercase;
      &.active {
        text-decoration-style: solid;
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 2px;
      }
    }
  }
}
