$white: #ffffff;
$grey: #f6f6f6;
$shadow-card: linear-gradient(
  180deg,
  rgba(255, 255, 255, 0) 0%,
  rgba(10, 10, 10, 0) 42%,
  rgba(4, 4, 4, 0.205) 99.99%,
  rgba(0, 0, 0, 0.5) 100%
);

.gallery {
  width: 100%;
  margin-bottom: 40px;
  padding: 40px;
  box-sizing: border-box;

  background-color: $grey;
  border-radius: 25px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.card {
  position: relative;
  height: 340px;
  border-radius: 10px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: $shadow-card;
    z-index: 0;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;

    color: $white;
    font-size: 18px;
    font-weight: 500;

    z-index: 1;
  }
}

@media (max-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 30px;
  }

  .card {
    height: 300px;
  }
}

@media (max-width: 768px) {
  .gallery {
    gap: 30px;
    padding: 20px;
  }

  .card {
    height: 280px;
  }
}

@media (max-width: 375px) {
  .gallery {
    background-color: transparent;
    padding: 0;
    margin-bottom: 20px;

    grid-template-columns: 1fr;
    gap: 20px;
  }

  .card {
    height: 255px;
  }
}
